# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtuelle Umgebungen
venv/
.env/
.venv/

# OS
.DS_Store

# Rohdaten
data/*.csv
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.env
